* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0061ff, #60efff);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.todo {
    
}

.input {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    padding: 10px;
    font-size: larger;
    border-color: #adb5bd;
    border-width: 1px;
    border-style: solid;
}

.button {
    height: 50px;
    width: 50px;
    font-size: 3rem;
}
